footer {
    background-color: #5F3473;
    padding: 15px 0;
    width: 100%;
    z-index: 100;

    p {
        color: #fff;
        font-weight: 700;
        margin: 0;
        text-shadow: none;
    }

    img {
        width: 100px;
    }
}